@model PagedList.IPagedList<KARAOKE.Models.EF.Phong>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tables">
    <div class="bs-example widget-shadow" data-example-id="contextual-table">
        <h4>Danh sách phòng</h4>
        <a href="/Phong/Create" type="button" class="btn btn-success btn-flat btn-pri">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm mới
        </a>
        <div class="search-box">
            @using (Html.BeginForm("Index", "Phong", FormMethod.Get))
            {
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." value="@ViewBag.SearchString" type="search" name="searchString" id="input-31" />
                    <label class="input__label" for="input-31">
                        <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                        </svg>
                    </label>
                </form>
            }
        </div>
        <table class="table">
            <thead>
                <tr class="success">
                    <th>ID</th>
                    <th>Tên phòng</th>
                    <th>Loại phòng</th>
                    <th>Sức chứa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="active" id="row_@item.ID">
                        <th scope="row">@item.ID</th>
                        <td>@item.TenPhong </td>
                        <td>@item.LoaiPhong.TenLoaiPhong</td>
                        <td>@item.SucChua</td>
                        <td>
                            <a href="/Phong/Edit/@item.ID">Sửa | </a>
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn có muốn xóa bản ghi này ?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
    </div>
</div>



